#welcome
  .container
    .row
      .span12
        %h1
          Nitchio

        %h2.lead
          Welcome. Find your niche.
    .row
      - Nitch.all.each do |nitch|
        = link_to nitch_url(subdomain: nitch.name) do
          .nitch.span2.well
            %h3.name=  nitch.title
            .description= simple_format nitch.description