.posts  {
  margin: 15px 0px;
}

.post {
  margin-top: 10px;
}

.post .scoring {
  margin-left: 10px;
}

.post-content {
  margin-left: 80px;
}

.post .score {
  margin: 0px;
  width: 70px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}

.post .upvote a, .post .downvote a {
  display: block;
  width: 15px;
  margin: 0px auto;
}

.post .title {
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  margin-top: 3px;
}

.post .thumb, .post .details.span9 {
  margin-left: 0px;
}

.post .details.span9 {
  width: 920px;
}

.post .details.span8 {
  margin-left: 20px;
  width: 830px;
}

.post .details .posted, .post .details .links {
  margin-top: 3px;
  font-size: 12px;
}

.links .divider {
  display: inline-block;
  width: 1px;
  margin: 0px 1px;
}

#post {
  margin: 0px 0px 15px;
}

#post .title a {
  color: #000;
}

#post .body {
  margin: 5px 0px;
  padding: 5px 10px;
}

#post .body p {
  font-size: 14px;
  margin: 3px 0px 2px;
}

#post-comments-header {
  margin: 15px 0px;
  border-bottom: 1px solid #DDD;
}

.comments {
  margin-top: 3px;
  margin-left: 25px;
  padding-left: 10px;
  border-left: 1px dotted #DDD;
}

.comment {
}

.comment .posted, .comment .links {
  font-size: 12px;
}

.comment .body p {
  font-size: 14px;
  margin: 3px 0px 2px;
}