%ul.breadcrumb
  %li
    = link_to current_nitch.settings.archive_name.pluralize, all_archives_url
    - if archive
      %span.divider &raquo;
  - if archive
    %li
      = link_to archive.title, archive_url(archive.key, slug: archive.slug)
      - if post
        %span.divider &raquo;
  - if post
    %li(style="overflow: hidden;")
      = link_to truncate(post.title, length: 40), post_url(post.archive.key, post.archive.slug, post.key, post.slug)
      - if comment
        %span.divider &raquo;
  - if comment
    %li(style="overflow: hidden;")
      = link_to truncate(comment.body, length: 40), comment_url(comment.post.archive.key, comment.post.archive.slug, comment.post.key, comment.post.slug, comment.key)
