#nitch-container-outer {
  margin-top: 15px;
}

.sidebar {
  overflow: hidden;
}

#nitch-sidebar-left, #nitch-sidebar-right {
  margin: 10px 0px;
}

#nitch-content {
  margin: 10px 0px 0px;
}

#new-post-form {
  margin: 15px 0px 0px;
  padding: 8px 8px 0px;
}