.row
  .span8
    = archive_breadcrumb @archive, @post

.row
  .span8
    #post
      = render_post @post, body_expanded: true

.row
  .span8
    #post-comments-header
      .lead
        = pluralize(@post.comments_count, 'Comment')
    #post-comments
      - @post.comments.roots.each do |comment|
        = render_comment comment