.row
  .span8
    .tabbable
      %ul.nav.nav-tabs
        %li.active
          = link_to('#', {}, {'data-toggle' => 'tab'}) do
            %i.icon-time
            Newest
        %li
          = link_to('#', {}, {'data-toggle' => 'tab'}) do
            %i.icon-fire
            Popular
        %li
          = link_to('#', {}, {'data-toggle' => 'tab'}) do
            %i.icon-eye-open
            Discussed
