.row
  .span10
    .tabbable
      .btn-group
        = link_to('#', {class: 'btn active'}) do
          %i.icon-fire
          Hottest
        = link_to('#', {class: 'btn'}) do
          %i.icon-time
          Newest
        = link_to('#', {class: 'btn'}) do
          %i.icon-eye-open
          Discussed

.row
  .span10
    .posts
      - current_nitch.posts.each do |post|
        = render_post post
