.row
  .span10
    .tabbable
      .btn-group
        = link_to('#', {class: 'btn active'}) do
          %i.icon-fire
          Hottest
        = link_to('#', {class: 'btn'}) do
          %i.icon-time
          Newest
        = link_to('#', {class: 'btn'}) do
          %i.icon-eye-open
          Discussed

.row
  .span10
    .posts
      / This should actually be activities generated
      - activity_feed_items.each do |item|
        = render_activity_feed_item item
